/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.results{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

.result{
    text-align: center;
}
.result:hover{
    background-color: #efefef;
}

.tool-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categ{
    width: 70vw;
}

.home{
    text-underline-offset: none;
    color: black;
}
